<div class="jumbotron">
  <h1>Twitter</h1>
  <p>presented by Eleonora, Jules, Gowshik, João and Adrien</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Follow Us</a></p>
</div>


<div class="row" id="#first-slide">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Introduction</h3>
	  </div>
  <div class="panel-body">

  	<div class="row">
	    <div class="tweet-header">
	    	<div class="col-md-1">
    		<%= image_tag("jules.jpg", height: "100", width: "100") %>
	    	</div>
				<div class=" tweet col-md-4 col-md-offset-0">
    		<span class="tweet-title">First slide</span>
    		<span class="tweet-username">
    			@Jules
    		</span>
			</div>
    	</div>

    <div class="col-md-12"> 	
    </div>

	    </div> <!-- end of row -->
	  </div> <!-- end of panel body -->
	</div> <!-- end of panel -->
</div> <!-- end of first slide -->

<div class="row" id="#first-slide">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Introduction</h3>
	  </div>
  <div class="panel-body">

  	<div class="row">
	    <div class="tweet-header">
	    	<div class="col-md-1">
    		<%= image_tag("jules.jpg", height: "100", width: "100") %>
	    	</div>
				<div class=" tweet col-md-4 col-md-offset-0">
    		<span class="tweet-title">First slide</span>
    		<span class="tweet-username">
    			@Jules
    		</span>
			</div>
    	</div>

    <div class="col-md-12"> 	
    </div>

	    </div> <!-- end of row -->
	  </div> <!-- end of panel body -->
	</div> <!-- end of panel -->
</div> <!-- end of first slide -->

<div class="row" id="#first-slide">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Introduction</h3>
	  </div>
  <div class="panel-body">

  	<div class="row">
	    <div class="tweet-header">
	    	<div class="col-md-1">
    		<%= image_tag("jules.jpg", height: "100", width: "100") %>
	    	</div>
				<div class=" tweet col-md-4 col-md-offset-0">
    		<span class="tweet-title">First slide</span>
    		<span class="tweet-username">
    			@Jules
    		</span>
			</div>
    	</div>

    <div class="col-md-12"> 	
    </div>

	    </div> <!-- end of row -->
	  </div> <!-- end of panel body -->
	</div> <!-- end of panel -->
</div> <!-- end of first slide -->


