$navbar-default-bg:#fff;
$navbar-default-color:#8EC1DA;
$navbar-default-link-hover-color:#8EC1DA;
$navbar-default-link-color:#8EC1DA;
$jumbotron-bg:#fff;
$jumbotron-font-size:32px;


@import "bootstrap-sprockets";
@import "bootstrap";


body { 
background:#8EC1DA;
}

.logo {
	padding-top:8px;
}

#title {
	font-size: 14px;
}

.jumbotron {
	box-shadow:2px 2px #ebebeb;
	padding-left: 20px;
}

.jumbotron button {
	background:#8EC1DA;
}

.tweet-header {

}

span.tweet-title {
	font-size: 32px;
	font-weight: 700;

}

span.tweet-username {
	color:grey;
	font-size: 20px;
}

.panel-title {
	font-size: 36px;
}

.tweet {
	margin-left: 10px;
}

.tweet-feed {
	position:fixed;
	width:80px;
	top:10%;
	left:85%;
}

.footer {
	background: #fff;
	margin-top: 30px;
}

.disqus {
	background:#fff;
	padding: 10px 10px;
}